.header {
    height: 30vh;
    width: 100vw;
    background-color: #c77126;
    display: flex;
    flex-direction: column;
}

.contentStyle {
    flex: 1;
    background-color: #f5f5f5d0;
    height: 70vh;
}

.p-megamenu-end {
    margin-left: 10px !important;
    width: 100%;
    display: flex;
    justify-content: end;
}
.p-megamenu .p-megamenu-button {
    background-color: #ffffff;
}
.overlay {
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 90vw;
    height: 50vh;
    background-color: rgb(255, 255, 255);
}
